@{
    Layout = "_LayoutAbout";
}

<div class="inner cover">
    <h1 class="cover-heading">Welcome to IdentityServer4</h1>
    <p class="lead">
        IdentityServer publishes a <a href="https://localhost:5000/.well-known/openid-configuration" target="_blank">discovery document</a> where you can find metadata and links to
        all the endpoints, key material, etc. IdentityServer allows users to view and revoke application
        permissions previously granted to client applications.
    </p>    
</div>